body{
        background-color: black; 
        background-repeat: no-repeat;   
        background-attachment: fixed;
        background-size: cover;
        text-align: small ;
    }

    header{
        padding: 3%;
        display: flex;
        justify-content: space-between;
        align-items: center
    }

    /*classe atribuida para a div que vai receber logotipo*/
    .logo{
        height: 100%;

    }

    .caixa.imagem{
        margin: auto;
        text-align: center;
        margin-top: 1%;
    }

    main{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        }

    footer{
         background-color: rgb(185, 137, 223);
        padding: 3%;}

    .cabecalho{
        padding: 3%;
    }

    .rodape{
        color: black;
        padding: 3%;
    }

    .titulo{
        line-height: 3;
        color: rgb(218, 168, 32);
        text-align: center;

    }

    h1{
        font-size: 2em;
        color: rgb(218, 168, 32);
    }

    h2{
        font-size: 1.5em;
        color: rgb(218, 168, 32);
    }

    p{
        font-size: 20px;
        line-height: 1.0cm;
        font-style: italic;
        color: rgb(218, 168, 32);
    }

    .logo img{
        width: 35%;
    }

    figure img{
        display: block;
        margin: auto;
        max-width: 100%;
        height: auto;
    }

    figure figcaption{
        margin: 1.0cm;
        text-align: center;
        color: goldenrod;
    }

    img {
        text-align: center;
      }